parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    doctrine:
        objectManagerLoader: phpstan-bootstrap.php
    ignoreErrors:
        - identifier: doctrine.columnType
        - identifier: doctrine.associationType