parameters:
    level: 6
    phpVersion: 80400
    parallel:
        maximumNumberOfProcesses: 1
    excludePaths:
        analyse:
            - config/reference.php
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    doctrine:
        objectManagerLoader: phpstan-bootstrap.php
    ignoreErrors:
        - identifier: doctrine.columnType
        - identifier: doctrine.associationType
